#wrap {
    background-color:#000;
    line-height: 1.4;
    font-family: $font-noto;
    font-weight:400;

    .wrap {
        max-width: 750px;
        margin: 0 auto;
        text-align: center;
        @include boxSizing(border-box);
        @extend %clearfix;
        padding-right: percent(50);
        padding-left: percent(50);

        @include breakpoint(maxMobile){
            max-width:1100px;
            padding-right: 60px;
            padding-left: 60px;
        }
    }

    .bg-pink{background-color:#fdecf0 !important;}

    .btn {
        position: relative;
        display: inline-block;
        width: 49%;
        max-width: 100%;
        @include rem(padding, 25px 0);
        text-align: center;
        @include vw(24px);
        font-weight: 700;
        @include boxSizing(border-box);
       border:1px solid #fff;
       color:#fff;
    
        @include breakpoint(desktop){
            width:287px;
            @include rem(padding, 13px 0);
            font-size: 20px;
        }

        &-full{
            width:100%;
            background-color:#f9c642;
            color:#0f4880;
            border:none;
            @include breakpoint(desktop){
                width:95.5%
            }
        }   
    }


    .pc {
        display:none;
        @include breakpoint(maxMobile){
            display: block;
        }
    }

    .mobile {
        display:block;
        @include breakpoint(maxMobile){
            display: none;
        }
    }

    
                                
    .text-left{text-align:left !important;}
    .text-center{text-align:center !important;}
    .notice{
        color:#fff;margin-top:20px;@include vw(26px);
        @include breakpoint(maxMobile){font-size:18px;}
    }
    .highlight{color:#06c755;}
      
    .table-row {
        table {
            tr:last-child {
                th,
                td { border-bottom: none; }
            }
            th,
            td {
                color:#1c1c1c;
                @include rem(padding, 12px 0);
                text-align:left;
                @include vw(24px);
                word-break: break-all;
                @include boxSizing(border-box);
                @include breakpoint(maxMobile){
                    font-size: 17px;
                }
            }
            th {
                width:30%;
                vertical-align:top;
                font-weight:700;
                 @include rem(padding-left, 20px);
                @include breakpoint(maxMobile){
                    width:135px;
                    @include rem(padding-left, 20px);
                }
            }
        }
    }


    .form-text {
        @include rem(margin-top, 40px);
        text-align:left;color:#000;
        @include vw(28px);
        // @include rem(padding-bottom, 15px);
        @include breakpoint(maxMobile){
            font-size: 20px;
        }
    }

    .form-control {
        @include rem(margin-top, 20px);
        text-align: left;
        @include breakpoint(maxMobile){
            margin-top: 10px;
        }
        &:first-child { margin-top: 0; }
        .text {
            width: 100%;
            @include rem(padding, 28px 40px);
            @include vw(28px);
            @include rem(border-width, 2px);
            border-style: solid;
            border-color: #c0c0c0;
            @include rem(border-radius, 5px);
            background: none;
            @include boxSizing(border-box);
            &::placeholder { color: #000; }
            @include breakpoint(maxMobile){
                padding: 16px 20px;
                font-size: 18px;
                border-width: 1px;
            }

            &.disable {
                background-color: #000;
            }
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            margin: 0;
            -webkit-appearance: none;
            appearance: none;
        }
        input[type="number"] { -moz-appearance: textfield; }
        .textarea {
            width: 100%;
            @include rem(height, 300px);
            @include rem(padding, 28px 40px);
            @include vw(24px);
            line-height:1.5;
            @include rem(border-width, 2px);
            border-style: solid;
            border-color: #c0c0c0;
            @include rem(border-radius, 5px);
            resize: none;
            @include boxSizing(border-box);
            &::placeholder { color: #999; }
            @include breakpoint(maxMobile){
                height: 200px;
                padding: 10px 20px;
                font-size: 16px;
                border-width: 1px;
            }
        }
        .select {
            display: inline-block;
            margin-left: 5px;
            font-size: 0;
            &:first-child { margin-left: 0; }
            background: #fff url('../img/popup/icon_select_arrow.jpg') no-repeat right center;
            background-size: auto 100%;
            &:only-child { width: 100% }
            &:nth-child(1):nth-last-child(2),
            &:nth-child(2):nth-last-child(1) { width: calc(50% - 7px); }
            &:nth-child(1):nth-last-child(3),
            &:nth-child(2):nth-last-child(2),
            &:nth-child(3):nth-last-child(1) { width: calc(33.33% - 7px); }
            select {
                width: 100%;
                @include rem(padding, 28px 40px);
                @include vw(28px);
                @include rem(border-width, 2px);
                border-style: solid;
                border-color: #c0c0c0;
                @include rem(border-radius, 5px);
                -webkit-appearance: none;
                appearance: none;
                @include boxSizing(border-box);
                &::-ms-expand { display: none; }
                &::placeholder { color: #999; }
                @include breakpoint(maxMobile){
                    padding: 17px 20px;
                    font-size: 16px;
                    border-width: 1px;
                }
            }
        }
        .fake-checkbox {
            label {
                display: inline-block;
                @include rem(padding-left, 60px);
                background: url('../img/common/icon_checkbox_check.png') no-repeat left center;
                background-size: auto 100%;
                cursor: pointer;font-weight:700;
                @include breakpoint(maxMobile){
                    padding-left: 30px;
                }
            }
            input {
                @extend .sr-only;
                &:checked + label { background-image: url('../img/common/icon_checkbox_checked.png'); }
            }
        }
        .fake-radio {
            @include rem(margin-left, 10px);
            &:first-child { margin-left: 0; }
            label {
                display: inline-block;
                background-color:#fff;
                cursor: pointer;color:#5d5d5d;font-weight:700;
                width: 49%;text-align:center;
                @include rem(padding, 28px 40px);
                @include vw(28px);
                @include rem(border-width, 2px);
                border-style: solid;
                border-color: #c0c0c0;
                @include rem(border-radius, 5px);
                background: none;
                @include boxSizing(border-box);
                &::placeholder { color: #000; }
                @include breakpoint(maxMobile){
                    padding: 16px 20px;
                    font-size: 18px;
                    border-width: 1px;
                    width: 48.5%;
                }
            }
            input {
                @extend .sr-only;
                &:checked + label { background-color:#55738d;color:#fff; }
            }
        }
    }

    .form-terms {
        width: 100%;
        background-color:#fff;
        @include rem(height, 150px);
        @include rem(padding, 10px);
        text-align: left;
        @include vw(20px);
        color: #000;
        @include rem(border-width, 2px);
        border-style: solid;
        border-color: #c0c0c0;
        @include rem(border-radius, 5px);
        @include boxSizing(border-box);
        overflow-y: auto;

        table{
            border:1px solid #c0c0c0;margin: 10px 0;
            th,td{border:1px solid #c0c0c0;font-size:12px;text-align:center;padding:10px 0;}
        }
        @include breakpoint(maxMobile){
            font-size: 14px;
        }
        @include breakpoint(maxMobile){
            border-width: 1px;
        }
    }

}